.container {
    margin: 0;
}

.img-location {
    display: block;
}

/* .contacts-list-item {
    
}

.contacts {
    display: inline-block;
}

.contacts-img {
    display: block;
}

.address {
    display: block;
}

.address-item {
    padding-left: 0;
    margin-right: 50px;
} */